.SearchResult-v1 {
  padding: 0.7em 1em;
  width: 100%;
  cursor: pointer;
}

.SearchResult-v1 > a {
  text-decoration: none;
  color: black;
}

.SearchResult-small-v1 {
  color: #B2B2B2;
}

.SearchResult-selected-v1 {
  background-color: #2e9adf;
}

.SearchResult-selected-v1 > a,
.SearchResult-small-selected-v1
 {
  color: white;
}

.SearchResult-v1:hover {
  background-color: #2e9adf;
}

.SearchResult-v1:hover > a,
.SearchResult-v1:hover small {
  color: white;
}

.SearchResult-v1 span {
  display: block;
}
