.Searchbar-component-v1 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  border: none;
}

.Searchbar-container-v1 {
  border-radius: 50px;
  border: none;
  height: 2.5em;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0px 3px 20px 4px rgba(53, 53, 53, 0.1);
  background-color: white;
}

.Searchbar-input-v1 {
  width: 80%;
  height: 100%;
  font-size: 1.1em;
  border: none;
  margin-left: 2em;
}

.Searchbar-input-v1:focus {
  outline: none;
}

.Searchbar-icon-v1 {
  background-color: #53a63a;
  color: white;
  height: 100%;
  width: 30%;
  border-radius: 20px 0 0 20px;
  border: none;
}

.Searchbar-icon-v1 > i {
  padding: 10% 0;
}

.Searchbar-results-v1 {
  list-style-type: none;
  text-align: left;
  border: none;
  padding: 0;
  width: 90%;
  margin: 1em auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 3px 20px 4px rgba(53, 53, 53, 0.1);
  background-color: white;
}
